.bg-danger {
    background-color: rgb(115, 115, 185) !important;
    color: white !important;
}

.btn-danger {
    background-color: rgb(115, 115, 185) !important;
    border-color: rgb(115, 115, 185) !important;
    color: white !important;
}

.btn-danger:hover {
    background-color: rgb(95, 95, 165) !important;
    border-color: rgb(95, 95, 165) !important;
    color: white !important;
}

.btn-warning {
    background-color: rgb(115, 185, 115) !important;
    border-color: rgb(115, 185, 115) !important;
    color: white !important;
}

.btn-warning:hover {
    background-color: rgb(95, 165, 95) !important;
    border-color: rgb(95, 165, 95) !important;
    color: white !important;
}

.btn-primary,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: rgb(60, 130, 230) !important;
    border-color: rgb(60, 130, 230) !important;
}

/* Estilo para o dropdown-menu */
.dropdown-item.active,
.dropdown-item:focus,
.dropdown-item.focus {
    background-color: rgb(60, 130, 230) !important;
    color: white !important;
}

/* Estilo para o dropdown-menu ao passar o mouse */
.dropdown-item:hover {
    background-color: rgb(40, 110, 200) !important;
    color: white !important;
}

.page-link {
    color: var(--bs-danger);
    background-color: var(--bs-white);
    border: 1px solid var(--bs-danger);
}

.page-link:hover {
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border: 1px solid var(--bs-danger);
}

.page-link.active,
.page-link.active:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}

.table td,
.table th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.texto-3-linhas {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.texto-1-linha {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}