{% extends "pages/base.html" %}
{% block subtitulo %}Sobre{% endblock %}
{% block conteudo %}
<div class="container mt-4">
    <h1 class="display-5"><b>Trabalho - Desenvolvimento Web (SI 2024.1)</b></h1>
    <p class="lead">Este projeto é parte da disciplina de Desenvolvimento para a Web ministrada pelo Professor Ricardo Maroquio no IFES Campus Cachoeiro de Itapemirim, primeiro semestre de 2024.</p>
    
    <h2>Detalhes do Projeto</h2>
    <p>
        Este projeto consiste no desenvolvimento de uma aplicação web para gerenciamento de tarefas. Os usuários podem criar, visualizar, editar e excluir suas tarefas.
    </p>
    
    <h2>Tecnologias Utilizadas</h2>
    <ul>
        <li>FastAPI para o backend</li>
        <li>SQLite para o banco de dados</li>
        <li>HTML, CSS e Jinja2 para o frontend</li>
        <li>Git e GitHub para controle de versão e hospedagem do código</li>
    </ul>
    
    <h2>Aluno</h2>
    <ul>
        <li>Alison Mozer</li>
    </ul>
    
    <h2>Repositório GitHub</h2>
    <p>
        Para acessar o código fonte do projeto, visite o repositório no GitHub: <a href="https://github.com/AlisonMPH/taskflow" target="_blank">https://github.com/AlisonMPH/taskflow</a>
    </p>
    
    <h2>Contato</h2>
    <p>
        Para mais informações sobre o projeto ou dúvidas relacionadas, entre em contato pelo email: <a href="mailto:seuemail@exemplo.com">alisonmozer@gmail.com</a>
    </p>
</div>
{% endblock %}
